{% extends 'base.html'  %}
{% block content %}
<section class="items-center justify-center text-center place-content-center">

  <section class="bg-white dark:bg-gray-900">
    <form method="GET" action="{% url 'cars:cars_list' %}">
      <input type="text" class="p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="search" placeholder="Buscar carro...">
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Buscar</button>
    </form>

    <div class="px-4 mx-auto max-w-screen-xl flex flex-col h-screen">
        <div class="mx-auto max-w-screen-md text-center  lg:mb-12">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Alcance seu sonho agora!</h2>
            <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">Aqui você vai encontrar o que precisa com formas de pagamento facilitadas.</p>
        </div>
        <div class="md:grid lg:grid md:grid-cols-3 lg:grid-cols-3 space-y-2 p-2 h-fit sm:flex sm:flex-col">
          {% if cars %}
          {% for car in cars %}
            <!-- Pricing Card -->
            <div class="flex flex-col p-6 mx-2 text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white">
                <img src="{{ car.photo.url }}" class="h-40 max-w-32" alt="{{ car.model }} - {{ car.brand }}">
                <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">{{ car.brand }} {{ car.model }}</p>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-4xl font-extrabold">R$ {{ car.value }}</span>
                    <span class="text-gray-500 dark:text-gray-400">/</span>
                </div>
                <!-- List -->
                <ul role="list" class="space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Marca: {{ car.brand }}</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Fabricação: {{ car.factory_year }}</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span>Placa: {{ car.plate }}</span>
                    </li>
                </ul>
                <a href="{% url 'cars:car_detail' pk=car.pk %}" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900">
                  <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Detalhes</button>
                </a>
            </div>
          
            {% endfor %}
          {% else %}
            <p class="no-results">Nenhum carro encontrado.</p>
          {% endif %}
        </div>
    </div>
  </section>
</section>
{% endblock %}